section.contentBody{
	width:880px;
	height:553px;
	background-color:coral;
}
table{
	padding-top: 50px;
	margin: 0 auto;
}

th{
	padding-top:20px;
	padding-bottom: 20px;
	margin-top:0;
	text-align: center;
	font-size:larger;
}
td{
	padding-bottom: 20px;
}
td.lbl{
	text-align: right;
	padding-right: 20px;
}
textarea{
	resize: none;
}
td.ta{
	padding-bottom: 0px;
}
.textAreaErrorTd{
	padding-top: 0px;
}
td.sub{
	padding-right: 20px;
	text-align: right;
}
.errorText{
	font-style: italic;
	color:red;
}
p#txtNameError{
	display: none;
}
p#txtEmailError{
	display: none;
}
p#txtEmailInvalid{
	display: none;
}
p#txtAreaCommentsError{
	display: none;
}