section.mainBody{
	width:880px;
	height:100%;
	margin: 0 auto;
	background-color: yellow;
	border-radius:1%;
}

header img{
	float:right;
}
nav.headerNav{
	height:135px;
}
ul.navList{
	list-style: none;
	margin-bottom: 0px;
	padding-left:0px;
	font-size: 18pt;
	position:relative;
	top:106px;
}
ul.navList li{
	background-color: coral;
	display:inline;
	padding-right: 10px;
	border-top:solid #000000;
	border-left:double #000000;
	border-right:double #000000;
}
ul.navList a{
	padding-left:10px;
	text-decoration: none;
	color:#000000;
}
ul.navList a:visited{
	color:#000000;
}
ul.navList a:hover{
	color:#FFFFFF;
}

section.contentBody{
	height:553px;
	background-color:coral;
}

aside.paintControls{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	float:left;
	width:263px;
	height:508px;
	background-color: coral;
}
ul.paintOptions{
	list-style:none;
	padding-left:0;
	margin-top:0px;
}
ul.paintOptions select{
	margin-left:10px;
}
ul.paintOptions:first-of-type{
	line-height: 2;
}
img.imgDropper{
	margin-right:20px;
	float: right;
}
img.imgLine{
	margin-right: 20px;
	float: right;
}
ul.colorOptions{
	list-style:none;
	padding-left:10px;
}
ul.colorOptions input{
	float: right;
}
#imgFile{
	display: none;
}
#imgFileInvalid{
	color:red;
	font-style: italic;
	display: none;
}
article.paintArea{
	display: inline-block;
	background-color: #FFFFFF;
	width:607px;
	height:553px;
	float: right;
}
canvas#paintCanvas{
	border:solid black 1px;
}

footer{
	text-align: center;
	clear: both;
}
footer p{
	margin-top:0px;
	margin-bottom: 0px;
	font-size:12px;
	font-style: italic;
}
footer a{
	padding-left:10px;
	text-decoration: underline;
	color:#000000;
}
footer a:visited{
	color:#000000;
}