section.mainBody{
	width:880px;
	height:100%;
	margin: 0 auto;
	background-color: yellow;
	border-radius:1%;
}

header img{
	float:right;
}
nav.headerNav{
	height:135px;
}
ul.navList{

	list-style: none;
	display:inline-block;
	margin-bottom: 0px;
	
	padding-left:0px;
	font-size: 18pt;
	position:absolute;
	top:90px;
}
ul.navList li{
	background-color: coral;
	display:inline;
	padding-right: 10px;
	border-top:solid #000000;
	border-left:double #000000;
	border-right:double #000000;
}
ul.navList a{
	padding-left:10px;
	text-decoration: none;
}
ul.navList a:visited{
	color:#000000;
}
ul.navList a:hover{
	color:#FFFFFF;
}

section.contentBody{

}

aside.paintControls{
	display:inline-block;
	padding-left:10px;
	float:left;
	width:263px;
	height:508px;
	background-color: coral;
}
ul.paintOptions{
	list-style:none;
	padding-left:0;
	margin-top:0px;
}
ul.paintOptions:first-of-type{
	line-height: 2;
}
ul.colorOptions{
	list-style:none;
	padding-left:20px;
}
#chkEraser{
	opacity: 0;
}

article.paintArea{
	display: inline-block;
	background-color: #FFFFFF;
	width:607px;
	height:508px;
}
canvas#paintCanvas{
	border:solid black 1px;
}

footer{
	text-align: center;
}
footer p{
	margin-top:0px;
	margin-bottom: 0px;
	font-size:12px;
	font-style: italic;
}
footer a{
	padding-left:10px;
	text-decoration: none;
	color:#000000;
}
footer a:visited{
	color:#000000;
}